@model LoginVM

    <div class="container" style="width: 400px; padding: 50px 0;">
        <h2>Вход в приложение</h2>
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="UserName"></label><br />
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label>@*<br />*@
                <input asp-for="RememberMe" />
            </div>
            <div>
                <input type="submit" value="Войти" class="btn" style="background-color: #2B6684; color: white; width: 120px; margin-top: 20px;" />
            </div>
        </form>
    </div>