@model IEnumerable<DataLayer.Entities.User>

<h2>User List</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="EditRole" asp-route-userid="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>